In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## **Age Distribution Analysis**

In [3]:
age_df = pd.read_csv(r"C:\Users\Adnan\Desktop\Codes\Cyber Square DS\covid-19-india-analysis-by-me\data\raw\agedistribution_2016_estimates.csv")
age_df.head()

      Age     M     F   Tot
0     0-4   8.7   8.2   8.5
1   9-May   9.1   8.8   8.9
2  14-Oct   9.8   9.4   9.6
3   15-19  10.4   9.9  10.1
4   20-24  10.2  10.7  10.4